{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.png' %}" />
		<title>{{ title|capfirst }}</title>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<!-- Fontawesome -->
		<link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/brands.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/solid.min.css' %}" />
		<!-- Personal -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		{% block head %}{% endblock head %}
	</head>
	<body>
		<nav
			class="navbar navbar-expand-lg bg-dark fixed-top"
			data-bs-theme="dark"
		>
			<div class="container-fluid">
				<a class="navbar-brand" href="{% url 'dashboard:dashboard' %}">SafeLife</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<i class="fa-solid fa-bars"></i>
				</button>
				<div
					class="collapse navbar-collapse"
					id="navbarSupportedContent"
				>
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a
								class="nav-link active"
								aria-current="page"
								href="/"
								>Início</a
							>
						</li>
						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle"
								href="#"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								Dropdown
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="#">Action</a>
								</li>
								<li>
									<a class="dropdown-item" href="#"
										>Another action</a
									>
								</li>
								<li><hr class="dropdown-divider" /></li>
								<li>
									<a class="dropdown-item" href="#"
										>Something else here</a
									>
								</li>
							</ul>
						</li>
					</ul>
					<div class="auth-content-btns">
						<a href="{% url 'account:register' %}" class="btn"
							><i class="fa-solid fa-user-plus"></i
							>&nbsp;Cadastro</a
						>
						<a href="{% url 'account:login' %}" class="btn"
							><i class="fa-solid fa-arrow-right-to-bracket"></i
							>&nbsp;Acesso</a
						>
					</div>
				</div>
			</div>
		</nav>
		<main>{% block content %}{% endblock content %}</main>
		{% block footer %}{% endblock footer %}
	</body>
</html>
