{% extends 'global/base.html' %}
{% load static %}
{% block head %}
<script src="{% static 'js/auth.js' %}" defer></script>
{% endblock head %}
{% block content %}
<div class="container">
	<div class="row justify-content-center">
		<div class="auth-container col-5">
			<div class="form-header">
				<h2 class="text-center">Dockinho</h2>
			</div>
			<div class="form-body">
				<div class="form-body-top">
					<h3>Conectar-se</h3>
					<span
						>Não possui conta?
						<a href="{% url 'account:register' %}">Cadastro</a></span
					>
				</div>
				{% include 'global/partials/_messages.html' %}
				<form action="." method="POST" class="auth-form">
					{% csrf_token %}
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1"
							><i class="fa-solid fa-user"></i></span>
						<input
							class="form-control form-control-lg"
							type="text"
							name="email"
							placeholder="usuário"
							aria-label="usuário"
							value="{{ form.email.value|default:'' }}"
							required
						/>
					</div>
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1"
							><i class="fa-solid fa-lock"></i></i
						></span>
						<input
							class="form-control form-control-lg"
							type="password"
							name="password"
							placeholder="senha"
							aria-label="senha"
							value="{{ form.password.value|default:'' }}"
							required
						/>
						<span class="input-group-text icon-eye"><i class="fa-solid fa-eye"></i></span>
					</div>
					<div class="form-group mt-5 text-center">
						<button
							type="submit"
							class="btn btn-primary btn-lg"
						>Conectar-se</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}