{% extends 'global/base.html' %}
{% load static %}
{% block head %}
<script src="{% static 'js/auth.js' %}" defer></script>
{% endblock head %}
{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="auth-container col-5">
				<div class="form-header">
					<h2 class="text-center">Dockinho</h2>
				</div>
				<div class="form-body">
					<div class="form-body-top">
						<h3>Registrar-se</h3>
						<span
							>Possui conta?
							<a href="{% url 'account:login' %}">Acesso</a></span
						>
					</div>
					{% include 'global/partials/_messages.html' %}
					<form action="." method="POST" class="auth-form">
						{% csrf_token %}
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon1"
								><i class="fa-solid fa-user"></i></span>
							<input
								class="form-control form-control-lg"
								type="text"
								name="first_name"
								placeholder="nome"
								aria-label="nome"
								value="{{ form.first_name.value|default:'' }}"
								required
							/>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon1"
								><i class="fa-solid fa-envelope"></i></span>
							<input
								class="form-control form-control-lg"
								type="email"
								name="email"
								placeholder="email"
								aria-label="email"
								value="{{ form.email.value|default:'' }}"
								required
							/>
						</div>
						<div>
							{{ form.email.errors }}
							{% if form.email.errors %}
								{% for error in form.email.errors %}
								<div class="invalid-feedback">
								{{ error }}
								</div>
								{% endfor %}								
							{% endif %}
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon1"
								><i class="fa-solid fa-lock"></i></i
							></span>
							<input
								class="form-control form-control-lg"
								type="password"
								name="password1"
								placeholder="senha"
								aria-label="senha"
								value="{{ form.password1.value|default:'' }}"
								required
							/>
							<span class="input-group-text icon-eye"><i class="fa-solid fa-eye"></i></span>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon1"
								><i class="fa-solid fa-lock"></i></i
							></span>
							<input
								class="form-control form-control-lg"
								type="password"
								name="password2"
								placeholder="confirmação da senha"
								aria-label="confirmação da senha"
								value="{{ form.password2.value|default:'' }}"
								required
							/>
							<span class="input-group-text icon-eye"><i class="fa-solid fa-eye"></i></span>
						</div>
						<div>
							{{ form.password2.errors }}
							{% if form.password1.errors %}
								{% for error in form.password1.errors %}
								<div class="invalid-feedback">
								{{ error }}
								</div>
								{% endfor %}								
							{% endif %}
						</div>
						<div class="form-group mt-5 text-center">
							<button
								type="submit"
								class="btn btn-primary btn-lg"
							>Registrar-se</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}