input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	padding-top: 56px;
}

.main-content {
	padding: 10px 10px 10px 290px;
	background-color: ghostwhite;
	min-height: calc(100vh - 56px);
	width: 100%;
}

.sidebar {
	height: calc(100% - 56px);
	position: fixed;
}

.sidebar a:hover {
	background-color: grey;
}

.sidebar i {
	height: 20px;
	width: 20px;
	margin-right: 8px;
	text-align: center;
}

.auth-content-btns {
	display: flex;
	gap: 5px;
	color: #fff !important;
}

.auth-content-btns a {
	color: #fff;
	font-weight: 900;
}

.auth-content-btns a:hover {
	background-color: var(--bs-secondary-bg);
}

.auth-container {
	border: #010b1d 1px solid;
	border-radius: 10px;
	padding: 0;
	overflow: hidden;
	margin: 100px 0;
}

.auth-container a {
	text-decoration: none;
}

.form-body {
	padding: 30px;
}

.form-body-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #000;
	margin-bottom: 30px;
}

.form-header {
	background: #010b1d;
	padding: 5px;
	color: #fff;
}

.form-header h2 {
	color: inherit;
}

.input-group-text {
	display: flex;
	justify-content: center;
	width: 48px;
}

.icon-eye i {
	cursor: pointer;
}

.center{
	margin-top: 3%;
	display: flex;
	justify-content: center;
	width: 100%;
}


